.content-container-top {
    background-color: #909ead00;
    border-top-left-radius: 10px; /* Radius for top-left corner */
    border-top-right-radius: 10px; /* Radius for top-right corner */
    padding: 0.1px;
    font-family: "Inter", Helvetica, Arial, sans-serif;
}

.card-header {
    background-color: aliceblue;
}

.content-container-Middle {
    background-color: #c0dceb;
    padding: 5px;
}

.dx-datagrid-headers.dx-datagrid-nowrap.dx-bordered-top-view {
    background-color: aliceblue;
}

.content-container-bottom {
    background-color: #c0dceb;
    border-bottom-left-radius: 10px; /* Radius for top-left corner */
    border-bottom-right-radius: 10px; /* Radius for top-right corner */
    padding: 5px;
}

.content-container {
    background-color: #909ead00;
    /* border-radius: 10px; */
    padding: 5px;
}

.custom-context-menu {
    list-style: none;
    margin: 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .custom-context-menu li {
        padding: 5px;
        cursor: pointer;
    }

        .custom-context-menu li:hover {
            background-color: #eee;
        }

.custom-popup {
    width: 300px;
    text-align: center;
}

.dx-datagrid .dx-row {
    height: 35px;
    line-height: 35px; /* Align text vertically */
}

.horizontal-container {
    display: flex;
    gap: 10px; /* Adds spacing between buttons */
    justify-content: start; /* Aligns buttons to the left */
    align-items: center; /* Vertically centers the buttons */
    margin: 15px;
}
* {
    /*    color: #525252;*/
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

:root {
    --highlight-color: #0f6cbd;
    --text-color: #525252;
    --hover-bg: darkblue;
    --sidebar-bg: #909ead00;
    --breadcrumb-color: #808080;
    --text-hover-color: #ffffff;
}

a {
    color: black;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

body {
    font-family: var(--font-family);
    margin: 0;
    background-color: #f9f9f9;
    display: flex;
    height: 100vh;
    flex-direction: column; /* Stack breadcrumb and main content */
}