.content-container-top {
    background-color: #c0dceb;
    border-top-left-radius: 10px; /* Radius for top-left corner */
    border-top-right-radius: 10px; /* Radius for top-right corner */
    padding: 5px;
}
.content-container-Middle {
    background-color: #c0dceb;
    padding: 5px;
}
.content-container-bottom {
    background-color: #c0dceb;
    border-bottom-left-radius: 10px; /* Radius for top-left corner */
    border-bottom-right-radius: 10px; /* Radius for top-right corner */
    padding: 5px;
}
.content-container {
    background-color: #c0dceb;
    /* border-radius: 10px; */
    padding: 5px;
}
.custom-context-menu {
    list-style: none;
    margin: 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .custom-context-menu li {
        padding: 5px;
        cursor: pointer;
    }

        .custom-context-menu li:hover {
            background-color: #eee;
        }

.custom-popup {
    width: 300px;
    text-align: center;
}
.dx-datagrid .dx-row {
    height: 35px;
    line-height: 35px; /* Align text vertically */
}
