# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
node_modules/

# Visual Studio 2015
.vs/
/QDERPWeb/DAL/Entities/ERPMasterWtDataContext.cs
/QDERPWeb/logs

/logs
/Publish_Dev.ps1
*.log
*.mdmp
/.cr/personal/FavoritesList
/QDERPWeb/wwwroot/css/reporting.designer.part.bundle.css
/QDERPWeb/wwwroot/css/reporting.viewer.part.bundle.css
/QDERPWeb/wwwroot/js/reporting.designer.part.bundle.js
/QDERPWeb/wwwroot/js/reporting.viewer.part.bundle.js
/QDERPWeb/wwwroot/js/vendor.js
